@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap");

.title {
  color: white;
  font-family: Shippori Antique B1;
  font-size: 120px;
}

.h3text1 {
  color: white;
  font-family: Shippori Antique B1;
  font-size: 40px;
}
